@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: Rubik;
  src: url("/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: Anta;
  src: url("/fonts/Anta-Regular.ttf");
}
